@font-face {
    font-family: 'Rick & Morty';
    src: url("../../assets/get_schwifty.ttf");
}

.inputo{
    font-size: 18px;
    font-family: 'Rick & Morty';
    color: rgb(0, 0, 0);
    width: 1000px;
    height: 20px;
    
}
.paginationdiv{
    display: flex;
}