.contenedor{
    background-color: blue;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:20px;
    justify-content: space-around;
}
.card{
    background-color: rgb(0, 255, 30);
    border: 3px solid blue;
    width:300px;
    height:200px;
    display: block;
    align-content: flex-start;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.card1{
    order: 1;
}
.card2{
    order: 3;
}